{% extends 'base.html.twig' %}

{% block title %}New FichierDemande{% endblock %}

{% block body %}
    <h1>Insérer un Fichier </h1>
    <br>
    {{ include('fichier_demande/_form.html.twig') }}

{% endblock %}
