{% extends 'base.html.twig' %}

{% block title %}New FichierNomBilan{% endblock %}

{% block body %}
    <h1>Create new FichierNomBilan</h1>

    {{ include('fichier_nom_bilan/_form.html.twig') }}

    <a href="{{ path('app_fichier_nom_bilan_index') }}">back to list</a>
{% endblock %}
