{% extends 'base.html.twig' %}

{% block title %}Edit Fichier{% endblock %}

{% block body %}
    <h1>Edit Fichier</h1>

    {{ include('fichier/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
