{% extends 'base.html.twig' %}

{% block title %}New Fichier{% endblock %}

{% block body %}
    <h1>Créer les noms des fichiers</h1>

    {{ include('fichier/_form.html.twig') }}

    <a href="{{ path('app_fichier_index') }}" class="btn btn-dark">Retour à la liste</a>
{% endblock %}
